#wip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
}

#wip > a {
  color: var(--white);
}

#wip > a:hover,
#wip > a:active {
  color: var(--tertiary);
}
