@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Quicksand:wght@300..700&display=swap');

:root {
    --black: #08080c;
    --white: #f5f5f7;
    --primary: #12121a;
    --secondary: #6e4Ba8;
    --accent: #d4af37;

    --common-border-radius: 6px;
    --common-border: 1px solid var(--secondary-light);
    --common-gap: 8px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
    color: var(--white);

    /* Default Font */
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style-type: none;
}

.font-display {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-header {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.wrapper {
    padding: 0 22px;
}

.header {
    border-bottom: var(--common-border);
    font-size: 1.5rem;
    padding: 16px 22px;
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    mix-blend-mode: difference;
}

.nav,
.nav__container,
.nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav {
    justify-content: space-between;
}

.nav__container {
    gap: var(--common-gap);
}

.nav__link,
.nav__links {
    color: var(--text-light);
    text-decoration: none;
}

.nav__links {
    display: none;
}

.hero {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 71px;
}

.hero__pic {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 4;
}

.hero__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 4;
    margin-top: var(--common-gap);
}

.hero__roles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-column: 1 / span 4;
}

.hero__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-column: 1 / span 4;
    gap: 8px;
    flex-wrap: wrap;
}

.hero__link {
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: var(--common-border-radius);
    display: flex;
    font-size: 1rem;
    gap: 4px;
    padding: 6px 12px;
    text-decoration: none;

    /* If changing link colors make sure to include fill for the svg */
    color: var(--secondary);
    fill: var(--secondary);

    &.link--strong-true {
        color: var(--accent);
        fill: var(--accent);
    }
}

.hero__link:active, 
.hero__link:hover {
    filter: brightness(.6);
}

.icon {
    aspect-ratio: 1/1;

    &.icon--size-s {
        width: 16px;
    }
    
    &.icon--size-m {
        width: 24px;
    }
    
    &.icon--size-l {
        width: 32px;
    }
}

.icon__button {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--common-border);
    border-radius: var(--common-border-radius);

    &.icon__button--size-s {
        width: 16px;    
    }

    &.icon__button--size-m {
        width: 24px;
    }

    &.icon__button--size-l {
        width: 38px;
    }
}

#profilePic {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 5px 5px black);
    border-radius: var(--common-border-radius);
}

#profilePic:active {
    filter: drop-shadow(0px 5px 5px var(--accent));
}