@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Cabin:ital,wght@0,400..700;1,400..700&family=Patrick+Hand&display=swap');

:root {

    /* Primary is for buttons and similar elements */
    /* Secondary is for state such as hover effects or bullets */

    /* Light mode is Fauna themed */
    --bg-light: #ade490;
    --primary-light: #0a1505;
    --secondary-light: #1D390E;
    --text-light: #2c3e50;
   
    /* Dark mode is Homura themed. */
    --bg-dark: #08080c;
    --primary-dark: #12121a;
    --secondary-dark: #6e4Ba8;
    --text-dark: #f5f5f7;

    /* Both have golden accents */
    --accent: #d4af37;

    --common-border-radius: 8px;
    --common-border: 1px solid var(--secondary-light);
    --common-gap: 8px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-light);
    color: var(--text-light);
}

ul {
    list-style-type: none;
}

.font-cursive {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.font-sans-serif {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-weight: 400;

    &.font-weight-500 {
        font-weight: 500;
    }

    &.font-weight-600 {
        font-weight: 600;
    }

    &.font-weight-700 {
        font-weight: 700;
    }
}

.font-serif {
    font-family: "Arvo", serif;
    font-style: normal;
    font-weight: 400;
    
    &.font-weight-bold {
        font-weight: 700;
    }
    
    &.font-style-italic {
        font-style: italic;
    }
}

.wrapper {
    padding: 0 22px;
}

.header {
    border-bottom: var(--common-border);
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
}

.nav,
.nav__container,
.nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav {
    justify-content: space-between;
}

.nav__container {
    gap: var(--common-gap);
}

.nav__link,
.nav__links {
    color: var(--text-light);
    text-decoration: none;
}

.nav__links {
    display: none;
}

.hero {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
    margin-top: 71px;
}

.hero__head {
    display: flex;
    align-items: center;
}

.hero__pic {
}

.icon {
    aspect-ratio: 1/1;

    &.icon--size-s {
        width: 16px;
    }
    
    &.icon--size-m {
        width: 24px;
    }
    
    &.icon--size-l {
        width: 32px;
    }
}

.icon__button {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--common-border);
    border-radius: var(--common-border-radius);

    &.icon__button--size-s {
        width: 16px;    
    }

    &.icon__button--size-m {
        width: 24px;
    }

    &.icon__button--size-l {
        width: 38px;
    }
}

#goldenApple,
#soulGem {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 10px 20px black);
}

#goldenApple:active,
#soulGem {
    filter: brightness(1.1) drop-shadow(0px 10px 20px var(--accent));
}
 
#soulGem {
    display: none;
}